input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-upload {
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 38px;
}