body{
    background: #E5E5E5;
}

.label-text{
    font-size: 11px;
    line-height: 15px;
    color: #222A47;
    opacity: 0.5;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.form-control{
    background: #FFFFFF;
    width: 694px;
    height: 80px;
    padding: 0px;
    font-size: 25px;
    line-height: 33px;
    color: #222A47;
}

.input-upload {
    border-radius: 4px;
    display: inline-block;
}

.input-upload-blue{
    background: #B8DDF1;
}

.btn{
    border-radius: 4px;
    width: 340px;
    height: 80px;
    padding: 0px;
}

.btn-secondary{
    background: #E3EBF0;
    border: 0px;
}

.upload-text{
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}
.terms-text{
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

.expand{
    width:100%;
}



