{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}title{% endtrans %}
{% endblock %}

{% block body %}

    <h1>{% trans %}serviceName{% endtrans %}</h1>
    {{ form_start(createForm,{'attr':{'id':'uploaderForm' }}) }}
        {{ form(CreateForm) }}
    {{ form_end(createForm) }}

    <footer class="fixed-bottom mb-2">
        <div class="container">
            <span class="d-flex text-muted justify-content-right">
                {% trans %}footer{% endtrans %}
            </span>
        </div>
    </footer>
{% endblock %}