{% extends 'base.html.twig' %}

{% block title %}
    Terms Uploader
{% endblock %}

{% block body %}
    <div class="container">
        <div class=" d-flex flex-column justify-content-center align-items-center mt-5">
            <h1>Reguladmin</h1>

            <form class="mt-4" method="POST" action="{{ path('upload_terms') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="select-menu" class="label-text">SERWIS</label>
                    <select class="form-control" id="select-menu">
                        <option>home</option>
                        <option>az</option>
                        <option>ionosbg</option>
                        <option>ionosro</option>
                        <option>ionoshu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date" class="label-text">DATA</label>
                    <input id="date" type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="file-name" class="label-text">NAZWA REGULAMINU</label>
                    <input id="file-name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="file-link" class="label-text">PODGLĄD</label>
                    <input id="file-link" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label id="input-label" class="btn btn-primary input-upload" for="terms">
                        <span class="">Dodaj regulamin PDF</span>
                    </label>

                    <input type="file" class="form-control-file" name="terms" id="terms">

                    <button id="submit-button" type="submit" class="btn btn-secondary" disabled>
                        UPLOAD
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer class="fixed-bottom mb-2">
        <div class="container">
            <span class="d-flex text-muted justify-content-right">Krzysztof Heigel 2020 &reg;</span>
        </div>
    </footer>
{% endblock %}